.hero {
     background-image: url("images/index-background.jpg");
     background-size: cover;
     height: 485px;
}

.subscription {
     background-image: url("images/Subscribe.jpg");
     background-size: cover;
     height: 414px;
}

.filter {
     background-image: url("images/fon_image.jpg");
     background-size: cover;
     height: 412px;
}

.filter-form-group {
     border: none;
     display: inline-block
}

ul {
     list-style-type: none;
}

.catalog-container {
     display: inline;
}

.pagination-list {
     display: inline;
}

/*.social-list {
     display: flex;
     flex-direction: row;
} */

.social-item {
     display: inline;
}

footer {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
}

/*.navigation-list {
     display: flex;
     flex-direction: row;
} */

.navigation-item {
     display: inline;
}
