@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
  margin: 0;
}

.container {
  background-color: #ffffff;
  width: 1200px;
  margin: auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

/* .page {
  background-color: #ffffff;
  width: 1200px;
  margin: auto;
} */

.page-header {
  padding: 0 70px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  height: 64px;
}

.main-logo {
  margin-right: 44px;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;
  text-decoration: none;
}


.navigation-list {
  display: flex;
  align-items: center;
  gap: 32px;
  max-width: 450px;
  padding: 0;
  margin: 0;
}

.navigation-item {
  list-style-type: none;
}

.navigation-user {
  margin-left: auto;
}


.navigation-user .navigation-item {
  position: relative;
}

.navigation-item-curent-page {
  position: relative;
}

.navigation-link-current::after{
    content: "";
    border-bottom: 2px solid #756257;
    display: block;
    width: 68px;
    position: relative;
    top: 20px;
    cursor: auto;
}

.navigation-link-search {
  background-image: url("../images/icons/search.svg");
  background-size: 18px 18px;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
}

.navigation-link-favorite {
  background-image: url("../images/icons/heart.svg");
  background-size: 18px 17px;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  text-decoration: none;
}

.navigation-link-favorite::after {
  content: "12";
  background-color: #7DB54F;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 10px;
  line-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 10px;
  left: 10px;
}

.navigation-item div {
  background-color: #7DB54F;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 10px;
  line-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset-block-start: -4px;
  inset-inline-start: -10px;
}

.navigation-button {
  background-color: #756157;
  width: 160px;
  height: 36px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 35px;
  display: block;
  box-sizing: border-box;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.hero {
  background-color: #e08989;
  background-image: url("../images/index/divider.svg"), url("../images/index/index-background.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
  text-align: center;
  margin-bottom: 69px;

}

.hero-caption {
  margin-top: 51px;
  margin-bottom: 82px;
}

.advantages-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color:#000000;
  margin: 0 0 25px 0;
}

.advantages-caption {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 0 90px 0;
}

.advantages-subtitle-white {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
  margin-top: 0;
}

.advantages-description-white {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  margin: 0;


}

.advantages-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  margin: 0 auto 30px;
}

.advantages-description {
  text-align: center;
  margin: 0 auto 30px;
}

.blue-box {
  padding: 102px 85px;
  width: 400px;
  height: 385px;
  background-color: #82B3D3;
  box-sizing: border-box;
}

.blue-box div {
  width: 60px;
  height: 2px;
  background-color:rgba(255, 255, 255, 0.3);
  margin: 0 auto 30px;
}

.gray-box div {
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0 auto 30px;
}

.white-box {
  padding: 112px 85px;
  width: 400px;
  height: 385px;
  box-sizing: border-box;
}

.white-box div {
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0 auto 30px;
}

.gray-box {
  padding: 112px 85px;
  width: 400px;
  height: 385px;
  background-color: rgba(131, 179, 211, 12%);
  box-sizing: border-box;
}

.gray-box-service {
  padding: 81px 85px;
  width: 400px;
  height: 385px;
  background-color: rgba(131, 179, 211, 12%);
  box-sizing: border-box;
}

.white-box-service {
  padding: 81px 85px;
  width: 400px;
  height: 385px;
  background-color: #ffffff;
  box-sizing: border-box;
}

.service-house {
  background-image: url("../images/icons/house.svg");
  background-size: contain;
  width: 75px;
  height: 72px;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.service-food {
  background-image: url("../images/icons/food.svg");
  background-size: contain;
  width: 75px;
  height: 72px;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.service-gift {
  background-image: url("../images/icons/gift.svg");
  background-size: contain;
  width: 75px;
  height: 72px;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.service-caption {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  margin: 0 auto 20px;
}

.service-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto 64px;
}

.service-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  margin: 30px auto 30px;
}

.service-subtitle-description {
  text-align: center;
  margin: 0 auto;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-caption {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  margin: 0 auto 20px;
}

.search-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto 54px;
}

.button-search {
  background-color: #756157;
  width: 376px;
  height: 52px;
  border-radius: 4px;
  padding: 8px 50px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  box-sizing: border-box;
  margin-bottom: 96px;
}
.subscription {
     background-image: url("../images/subscribe-background.jpg");
     background-size: cover;
     padding-top: 96px;
     padding-bottom: 104px;

}

.subscription-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin: 0 auto 20px;
}

.subscription-caption {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  margin: 0 auto 54px;
}

.subscription-form {
  display: flex;
  justify-content: center;
}

.subscription-form-name {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin: 14px 0;
}

.subscription-email {
  border: 1px solid #000000;
  border-radius: 4px 0 0 4px;
  padding: 12px 20px;
  width: 452px;
  height: 52px;
  box-sizing: border-box;
  font-family: inherit;
}

.subscription-button {
  border-radius: 0 4px 4px 0;
  border: none;
  padding: 8px 0;
  width: 232px;
  height: 52px;
  background-color: #82B3D3;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font-family: inherit;
}

/*.filter-form-group {
     border: none;
     display: inline-block
}*/

.advantages-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0 0 64px 0;
}

.advantages-item {
  display: flex;
}

.service-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-bottom: 96px;
}

/* .catalog-container {
     display: inline;
} */

.social-list {
     display: flex;
     gap: 13px;
     margin: 0 0 0 0;
     padding: 0 0 0 0;
}

.social-item {
     display: inline;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;
  margin: auto;
  padding: 45px 70px 35px 81px;
  box-sizing: border-box;
}

.social-vk-link {
  background-image: url("../images/logo/vk.svg");
  width: 24px;
  height: 14px;
  background-size: 24px 14px;
  background-repeat: no-repeat;
  display: block;
}

.social-telegram-link {
  background-image: url("../images/logo/telegram.svg");
  width: 18px;
  height: 15px;
  background-size: 18px 15px;
  background-repeat: no-repeat;
  display: block;
}

.social-youtube-link {
  background-image: url("../images/logo/youtube.svg");
  width: 22px;
  height: 17px;
  background-size: 22px 17px;
  background-repeat: no-repeat;
  display: block;
}

.phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.developer-logo {
  background-image: url("../images/logo/logo-html-academy.svg");
  display: block;
  background-size: 115px 33px;
  width: 115px;
  height: 33px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    white-space: nowrap;
}

/*.navigation-list {
     display: flex;
     flex-direction: row;
} */

.navigation-item-catalog-page {
  position: relative;
}

.navigation-item-catalog-page span {
  border-bottom: 2px solid #756257;
  width: 93px;
  display: block;
  position: absolute;
  inset-block-start: 43px;
}

.filter {
  background-color: #82B3D3;
  background-image: url("../images/filter-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 35px 70px 70px;
  margin-bottom: 50px;
}

.page-title {
  font-size: 60px;
  line-height: 1.3;
  color: #ffffff;
  margin: 0 0 8px;
}

.breadcrumbs-list {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0;
}

.breadcrumbs-item {
  list-style-type: none;
}

.breadcrumbs-item a {
  text-decoration: none;
  color: #ffffff;
}

.breadcrumbs-link-icon {
  background-image: url("../images/icons/home.svg");
  background-size: contain;
  display: block;
  width: 13px;
  height: 15px;
  margin-top: 2px;
}

.filter-form {
  display: flex;
  gap: 70px;
}

.filter-form-group.filter-form-group-cost {
  margin-left: 70px;
}

.filter-form-group-price {
  display: flex;
}

.filter-price-control {
border-radius: 4px 0 0 4px;
background-color: #f2f2f2;
border: none;
padding: 12px 20px;
width: 143px;
height: 48px;
font-weight: 700;
font-size: 18px;
line-height: 24px;
box-sizing: border-box;
color: inherit;
margin-right: 2px;
}

.filter-price-control-right {
border-radius:  0 4px 4px 0;
}

.filter-form-title {
font-weight: 700;
font-size: 20px;
line-height: 1.2;
text-transform: capitalize;
color: #ffffff;
padding: 0;
margin-bottom: 32px;
}

.filter-form-label {
font-weight: 400;
font-size: 18px;
line-height: 23px;
color: #ffffff;
}

.filter-form-group {
  border: none;
  padding: 0;
  margin: 0;
}

.filter-form-item {
  list-style-type: none;
}

.filter-form-list {
  padding: 0;
  margin: 0;
}

.form-button {
display: block;
font-weight: 700;
font-size: 16px;
line-height: 20px;
text-transform: uppercase;
text-align: center;
background-color: #82B3D3;
border: none;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
color:#ffffff;
border-radius: 4px;
padding: 8px 50px;
width: 191px;
height: 36px;
margin-bottom: 32px;
cursor: pointer;
}

.form-button-reset {
  background: none;
  box-shadow: none;
}

.catalog-view {
border: 2px solid #E5E5E5;
border-radius: 4px;
padding: 14px 12px;
width: 48px;
height: 48px;
box-sizing: border-box;
display: block;
}

.catalog-view-active {
  background-image: url("../images/icons/plate.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-color: #000000;
}

.catalog-view-single {
  background-image: url("../images/icons/alone.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-view-list {
  background-image: url("../images/icons/list.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-viewer {
  display: flex;
  gap: 8px;
}

.catalog-item {
  list-style-type: none;
}

.catalog-list {
  padding: 0;
  /*margin: 0 90px;*/
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 90px 60px;
}

.catalog-title {
font-weight: 700;
font-size: 30px;
line-height: 120%;
text-transform: uppercase;
color: #000000;
margin: 0;
}

.select-contlor {
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 12px 20px;
  width: 292px;
  height: 49px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.catalog-card {
  text-decoration: none;
}

.catalog-card-price {
  text-align: justify;
  margin: 0 0 16px;
}

.catalog-card-image {
  display: block;
  margin: 60px 0 16px;
}

.catalog-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: #000000;
  margin: 0 0 16px;
}

.button {
  font-family: inherit;
  border-radius: 4px;
  width: 140px;
  height: 36px;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  display: inline-block;
  border: none;
  padding: 8px 18px;
  box-sizing: border-box;
  cursor: pointer;
}

.more-button {
  text-decoration: none;
  background-color: #756157;
}

.favorite-button {
  background-color: #82B3D3;
}

.favorite-button-added {
  background-color: #7DB54F;
}

.rating {
  border-radius: 4px;
  width: 140px;
  height: 36px;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  background-color: #F2F2F2;
  border: none;
  padding: 8px 18px;
  box-sizing: border-box;
  text-transform: uppercase;
  display: block;
  position: relative;
    top: -56px;
    left: 145px;
}

.stars {
  background-image: url("../images/icons/star1.svg");
  background-size: 25px 17px;
  background-repeat: repeat-x;
  background-position-y: center;
}

.four-stars {
  width: 100px;
  height: 37px;
}

.three-stars {
  width: 75px;
  height: 37px;
}

.two-stars {
  width: 50px;
  height: 37px;
}

.pagination-list {
  display: flex;
  gap: 8px;
  margin: 0 100% 0 0;
  padding: 0;
}

.pagination-item {
    list-style-type: none;
}

.pagination-link {
  background-color: #82B3D3;
  border-radius: 4px;
  border: none;
  width: 60px;
  height: 60px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.8;
  text-transform: uppercase;
  color: #ffffff;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
  cursor: default;
}

.pagination-dot {
  background-color: #ffffff;
  color: #000000;
}

.subscription-title-catalog {
  color: #000000;
}

.subscription-caption-catalog {
  color: inherit;
}

.subscription-catalog {
  padding: 96px 0 104px;
}

.subscription-email-catalog {
  background-color: #f2f2f2;
  border: none;
}
